<style>
    .navbar{
        padding: 10px 20px;
        margin-bottom: 10px;
        background: #dbdbdb;
    }
    input[type="button"]{
        background: #6e3dc6;
        border:none;
        box-shadow: #00B7FF 0px 0px 3px;
        padding: 7px 15px;
        color: white;
        border-radius: 5px;
    }
</style>
<div class="navbar">
    <label for="branch">Branch: </label> <select class="clickable" id="branch">
        <option value="" name="">Select Branch</option>
        <% navdata.branches.forEach( branch => { %>
        <option
                name="<%= branch %>"
                value="<%= branch %>"
                <%= (branch === navdata.SearchBranch ? "selected" : "") %>
        >
            <%= branch %>
        </option>
        <% }); %>
    </select>

    <label for="subject">Subject: </label> <select class="clickable" id="subject">
        <option value="" name="">Select Subject</option>
        <% navdata.subjects.forEach( subject => { %>
        <option
                name="<%= subject %>"
                value="<%= subject %>"
                <%= (subject === navdata.SearchSubject ? "selected" : "") %>
        >
            <%= subject %>
        </option>
        <% }); %>
    </select>

    <input class="clickable" type="button" onclick="applyFilter();" value="Apply filter">

    <script rel="text/javascript">

        const initialBranchContainer = document.querySelector("#branch").value;
        const initialSubjectContainer = document.querySelector("#subject").value;



        const applyFilter = () => {
            // console.log("CLICKED");
            let branchContainer = document.querySelector("#branch").value;
            let SubjectContainer = document.querySelector("#subject").value;

            let queryString = "?";
            if (branchContainer.length > 0) {
                queryString += `branch=${branchContainer}&`;
            }
            if (SubjectContainer.length > 0) {
                queryString += `subject=${SubjectContainer}&`;
            }

            if (initialSubjectContainer !== SubjectContainer || initialBranchContainer !== branchContainer ) {
                window.open(`/${queryString}`, "_self");
                // console.log(queryString);
            }

        };
    </script>

</div>